body {
    background-color: #000000;
    font-family: monospace;
}

/* HEADER CSS */
.header-title {
    display: flex;
    align-items: flex-end;
    color: white;
}

.header-title img {
    padding: 10px;
    width: 4em;
    height: 4em;
}

.header-btn {
    color: gray;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
}

.header-btn:hover {
    background-color: brown;
    color: white;
    font-size: 1.1em;
}

/* FILES CSS */
.files-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: #ffff;
    text-align: center;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: 70%;
    margin: auto;
}

.file td {
    border: 1px solid white;
    color: gray;
    padding: 10px;
    font-size: 1em;
}

.file:hover td {
    background-color: #540375;
    color: white;
}

.file-filename:hover {
    text-decoration: underline;
}

.file-actions-item {
    border-radius: 5px;
    color: gray;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.file-actions-item:hover {
    background-color: brown;
    color: white;
}

.files-table-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-upload {
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#btn-upload:hover {
    background-color: brown;
}