@import url("/static/main.css");

input {
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
}

input:focus, input:hover {
    background-color: var(--color-background-light);
    border: 1px solid var(--color-text);
}

/* Sino esta mostrando el placeholder, osea si tiene texto */
input:not(:placeholder-shown) {
    background-color: var(--color-background-light);
    border: 1px solid var(--color-text);
}