@import url("/static/main.css");

.container {
    display: flex;
    justify-content: center;
}

#user-username {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-text);
}

#user-icon {
    width:  45%;
    height: 45%;
    margin: 0 auto;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: 10px;
}

.icon-options {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}

#user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
    width: 60%;
    background-color: var(--color-background-light);
    border-radius: 10px;
}

input {
    padding: .5em;
    border-radius: 10px;
}


.btn-icon {
    padding: .5em;
    border-radius: 10px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px  var(--color-text);
    border-style: dashed;
}

.btn-icon:hover {
    background-color: var(--color-hover);
}


.btn-form {
    padding: .5em;
    border-radius: 10px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

.btn-form:hover {
    background-color: var(--color-hover);
    font-size: 1.1em;
}

#message{
    text-align: center;
}