body {
    background-color: #000000;
    font-family: monospace;
}

/* Register Container */
.register {
    position: relative;
    margin: auto;
    padding: 10%;
    width: 65%;
    background-color: #0A0A0A;
    border-radius: 10px;
}

/* Register Titles */
.register-title {
    color: white;
    font-size: 2em;
    text-align: center;
}

.register-title:hover {
    text-decoration: underline;
}

/* Register Fields */
.register label {
    color: white;
    padding: 10px;
}

.register input {
    background-color: black;
    color: white;
}

.register input:focus, .register input:hover {
    background-color: #0A0A0A;
    border: 1px solid white;
}

/* Register Button */
.btn-menu {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-menu:hover {
    background-color: brown;
}

.link {
    margin-top: 1em;
}

