:root {
    --color-background: rgb(14, 14, 14);
    --color-background-light: rgb(12, 12, 12);
    --color-text: #ffffff;
    --color-text-dark: gray;
    --color-hover: #a52a2a;
    --color-link: #0D6BC7;
    --color-row-selected: #540375;
    --font: monospace;
}

body {
    background-color: var(--color-background);
    font-family: var(--font);
}

.form-control {
    --bs-body-bg: var(--color-text);
    --bs-body-color: var(--color-background);
}    