@import url("./index.css");

.btn-bd-primary {
    --bs-btn-bg: var(--color-background);
}

/* Login Container */
.login {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
    width: 65%;
    height: 45%;
    background-color: var(--color-background-light);
    border-radius: 10px;
}

/* Login Titles */
.login-title {
    color: var(--color-text);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.login-title:hover {
    text-decoration: underline;
}

/* Login Fields */
.login-label {
    color: var(--color-text);
    font-style: bold;
    margin-top: 10px;
}

img {
    margin: 0 auto;
    width: 11em;
    height: 3em;
}

.logo-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 1em;
}

/* Login Buttons */
.btn-login {
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: 10px;
}

.btn-login:hover {
    background-color: var(--color-hover);
}

.link {
    margin-top: 1em;
}