@import url("./index.css");

/* register Container */
.register {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
    width: 65%;
    height: 45%;
    background-color: var(--color-background-light);
    border-radius: 10px;
}

/* register Titles */
.register-title {
    color: var(--color-text);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.register-title:hover {
    text-decoration: underline;
}

/* register Fields */
.register-label {
    color: var(--color-text);
    font-style: bold;
    margin-top: 10px;
}

img {
    margin: 0 auto;
    width: 11em;
    height: 3em;
}

.logo-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 1em;
}

/* register Buttons */
.btn-register {
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: 10px;
}

.btn-register:hover {
    background-color: var(--color-hover);
}

.link {
    margin-top: 1em;
}