@import url("../css/index.css");

.search-input {
    border-radius: 5px;
    border: 1px solid var(--color-text);
    padding: 10px;
    width: 50%;
    font-size: 1em;
    background-color: var(--color-text);
    color: var(--color-background);
}

.file-loading {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.loader {
    animation: loading 1s linear infinite;
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
}

@keyframes loading {
    0% {
        color: #96D373;
    }

    50% {
        color: #F5F5F5;
    }

    100% {
        color: #96D373;
    }
}

.btn-upload {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

.btn-upload:hover {
    background-color: var(--color-hover);
    font-size: 1.1em;
}

#go-share {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

#go-share:hover {
    background-color: var(--color-hover);
}
