@import url("../css/index.css");

.btn-load {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    border: 0;
}

.btn-upload {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
}

.btn-upload:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
}

.undo-button {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
}

.undo-button:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
}
