@import url("../css/index.css");

.btn-load {
    color: var(--color-text);
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    border: 0;
}

.btn-upload {
    position: fixed;
    bottom: 10px;
    right: 15PX;
    color: var(--color-text);
    border-radius: 5px;
    padding: 8px;
    font-size: 2em;
}

.btn-upload:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
}

.undo-all-button {
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: var(--color-text);
    border-radius: 5px;
    padding: 8px;
}

.undo-all-button:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
}

.undo-button {
    position: fixed;
    bottom: 10px;
    right: 65px;
    color: var(--color-text);
    border-radius: 5px;
    padding: 8px;
}

.undo-button:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
}