:root {
    --color-background: #000000;
    --color-background-light: #0A0A0A;
    --color-text: #ffffff;
    --color-hover: #a52a2a;
    --color-link: #0D6BC7;
    --color-row-selected: #540375;
    --font: monospace;
}

body {
    background-color: var(--color-background);
    font-family: var(--font);
}