@import url("../css/index.css");

.background {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-background {
    background-color: var(--color-background-light);
    color: var( --color-text-dark);
}
