@import url("/static/main.css");

.overlay-background {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 30em;
    max-height: 22em;
    padding: 20px;
    background-color: var(--color-background-light);
    border: 1px solid white;
    color:  var(--color-text-dark);
    border-radius: 5px;
    overflow: auto;
    z-index: 3;
}

.overlay-content button {
    border-radius: 5px;
    color: var(--color-text-dark);
    margin-right: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.overlay-content button:hover {
    background-color: var(--color-hover);
    color: var(--color-text);
}

.overlay-content input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.overlay-body {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.overlay-share {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 1em;
}

.overlay-user-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.overlay-user-share-icon {
    position: absolute; 
    left: 3em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.overlay-user-share:hover {
    color: var(--color-text);
    background-color: var(--color-row-selected);
}

.overlay-footer {
    display: block;
    text-align: center;
}

#btn-close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.share-anyone {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

#share-link {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

#share-link:hover {
    color: var(--color-link);
    text-decoration: underline;
}
