.overlay-user-share {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-user-share-icon {
    left: 3em;
    width: 3em;
    border-radius: 50%;
}

.overlay-user-share:hover {
    color: var(--color-text);
    background-color: var(--color-row-selected);
}
